<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
  <div class="app-container">
    <div class="matrix-container">
      <h1>Matrix Place</h1>
    </div>
    <div id="device-list" hx-get="/devices" hx-trigger="load, every 5s" hx-swap="innerHTML" class="side-bar">
      <!-- is added each item from the template devices.html -->
    </div>
  </div>
</body>

</html>